<section class="screen--sign-up">
  <div class="row">
    <div class="small-12 medium-9 large-8 large-centered columns">
      <header class="form__header clearfix">
        <h1 class="form__title left">Sign-up</h1>
      </header>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form--sign-up",method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email, class: "form__label" %>
          <%= f.email_field :email, autofocus: true, class: "form__field" %>
        </div>

        <div class="field">
          <%= f.label :password, class: "form__label" %>
          <% if @validatable %>
            <em>Your password must be at least <%= @minimum_password_length %> characters long</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", class: "form__field" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign-up", class: "button radius form__button" %>
        </div>

      <% end %>
    </div>
  </div>
</section>
