<section class="screen screen--index-entry">
  <div class="row">
  <% if @yesterdays_entry.exists? %>
    <div class=" large-6 columns">
      <section class="index-entry index-entry--yesterday">
        <header>
          <h1 class="title index-entry__title">Yesterday</h1>
        </header>
        <div class="index-entry__mood-shift">
          <figure class="feeling feeling--<%= mood(@yesterdays_entry.last.how_do_you_feel) %>">
            <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-<%= mood(@yesterdays_entry.last.how_do_you_feel) %>.png" alt="Feeling <%= mood(@yesterdays_entry.last.how_do_you_feel) %>" class="mood__emoticon">
            <figcaption class="mood"><%= mood(@yesterdays_entry.last.how_do_you_feel) %></figcaption>
          </figure>
          <span class="index-entry__mood-shift__arrow--right">&#10157;</span>
          <figure class="feeling feeling--<%= mood(@yesterdays_entry.last.how_do_you_feel_now) %>">
            <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-<%= mood(@yesterdays_entry.last.how_do_you_feel_now) %>.png" alt="Feeling <%= mood(@yesterdays_entry.last.how_do_you_feel_now) %>" class="mood__emoticon">
            <figcaption class="mood"><%= mood(@yesterdays_entry.last.how_do_you_feel_now) %></figcaption>
          </figure>
        </div>
        <p class="index-entry__excerpt"><%= truncate(@yesterdays_entry.last.what_went_well, length: 65) %></p>
      </section>
    </div>
    <% end %>
    <div class=" large-6 columns">
    <!-- IF TODAY EXISTS -->
      <section class="card--entry-yesterday">
        <header>
          <h1 class="card--entry__title">Today</h1>
        </header>
        <div class="mood-shift">
          <figure class="feeling--angry">
            <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-angry.png" alt="Feeling angry" class="mood__emoticon">
            <figcaption class="mood">angry</figcaption>
          </figure>
          <span class="arrow--right">&#10157;</span>
          <figure class="feeling--pleasant">
            <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-pleasant.png" alt="Feeling pleasant" class="mood__emoticon">
            <figcaption class="mood">pleasant</figcaption>
          </figure>
        </div>
    <!-- ELSE -->
      <!-- PROMPT TODAYS ENTRY -->
    <!-- END -->
      </section>
    </div>

  </div>
</section>


<%= link_to 'New Entry', root_path %>
</section>
