<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>

<section class="screen--show-entry">
  <div class="row">
    <div class="large-12 columns">
    <p><%= @entry.date.strftime("%m/%d/%Y") %></p>
    <p><%= mood(@entry.how_do_you_feel) %></p>
    <p><%= @entry.what_went_well %></p>
    <p><%= @entry.what_didnt_go_well %></p>
    <p><%= @entry.how_to_make_it_better %></p>
    <p><%= @entry.focus_on_tomorrow %></p>
    <p><%= mood(@entry.how_do_you_feel_now) %></p>
    </div>
  </div>
</section>
