<section class="screen screen--show-entry">
  <div class="row">
    <div class="large-12 columns">
        <p class="clearfix">
            <span class="show-entry__date"><%= @entry.date.strftime("%m/%d/%Y") %></span>
            <span class="show-entry__menu right"><%= link_to 'Edit', edit_entry_path(@entry), class: "show-entry__menu__item" %></span>
        </p>

        <p class="show-entry__question">How do you feel?</p>
        <figure class="feeling feeling--<%= mood(@entry.how_do_you_feel) %>">
          <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-<%= mood(@entry.how_do_you_feel) %>.png" alt="Feeling <%= mood(@entry.how_do_you_feel) %>" class="option--feeling__emoticon">
          <figcaption class="option--feeling__emotion">
              <%= mood(@entry.how_do_you_feel) %>
          </figcaption>
        </figure>

        <p class="show-entry__question">
            What went well today?<br />
            <span class="show-entry__answer"><%= @entry.what_went_well %></span>
        </p>

        <p class="show-entry__question">
            What didn't go well?<br />
            <span class="show-entry__answer"><%= @entry.what_didnt_go_well %></span>
        </p>

        <p class="show-entry__question">
            How will you make it better?<br />
            <span class="show-entry__answer"><%= @entry.how_to_make_it_better %></span>
        </p>

        <p class="show-entry__question">
            What do you want to work on tomorrow?<br />
            <span class="show-entry__answer"><%= @entry.focus_on_tomorrow %></span>
        </p>

        <p class="show-entry__question">How do you feel now?</p>
        <figure class="feeling feeling--<%= mood(@entry.how_do_you_feel_now) %>">
          <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-<%= mood(@entry.how_do_you_feel_now) %>.png" alt="Feeling <%= mood(@entry.how_do_you_feel_now) %>" class="option--feeling__emoticon">
          <figcaption class="option--feeling__emotion">
              <%= mood(@entry.how_do_you_feel_now) %>
          </figcaption>
        </figure>

    </div>
  </div>
</section>
