<%= form_for(@entry, html: {class: "entry__form"}) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :how_do_you_feel, class: "form__question" %>
    <%= f.radio_button :how_do_you_feel, 1 %>
    <%= f.label :how_do_you_feel, "Happy", :value => "1"  %>
    <%= f.radio_button :how_do_you_feel, 2 %>
    <%= f.label :how_do_you_feel, "OK", :value => "2"  %>
    <%= f.radio_button :how_do_you_feel, 3 %>
    <%= f.label :how_do_you_feel, "Sad", :value => "3"  %>
    <%= f.radio_button :how_do_you_feel, 4 %>
    <%= f.label :how_do_you_feel, "Angry", :value => "4"  %>
  </div>

   <div class="field">
    <%= f.label :what_went_well, class: "form__question" %>
    <%= f.text_area :what_went_well, class: "form__field form__field--text-area" %>
  </div>

  <div class="field">
    <%= f.label :what_didnt_go_well, "What didn't go well",class: "form__question" %>
    <%= f.text_area :what_didnt_go_well, class: "form__field form__field--text-area" %>
  </div>

  <div class="field">
    <%= f.label :how_to_make_it_better, "How will you make it better", class: "form__question" %>
    <%= f.text_area :how_to_make_it_better, class: "form__field form__field--text-area" %>
  </div>

  <div class="field">
    <%= f.label :focus_on_tomorrow, "What will you focus on tomorrow", class: "form__question" %>
    <%= f.text_area :focus_on_tomorrow, class: "form__field form__field--text-area" %>
  </div>

  <div class="field">
    <%= f.label :how_do_you_feel_now, class: "form__question" %>
    <%= f.radio_button :how_do_you_feel_now, 1 %>
    <%= f.label :how_do_you_feel_now, "Happy", :value => "1"  %>
    <%= f.radio_button :how_do_you_feel_now, 2 %>
    <%= f.label :how_do_you_feel_now, "OK", :value => "2"  %>
    <%= f.radio_button :how_do_you_feel_now, 3 %>
    <%= f.label :how_do_you_feel_now, "Sad", :value => "3"  %>
    <%= f.radio_button :how_do_you_feel_now, 4 %>
    <%= f.label :how_do_you_feel_now, "Angry", :value => "4"  %>
  </div>

  <div class="actions">
      <% if user_signed_in? %>
        <%= f.submit "Note it!", class: "button radius button--save" %>
      <% else %>
        <%= f.submit "Login and Note it!", class: "button radius button--save" %>
      <% end %>
  </div>
<% end %>
