<section class="new-entry__form">
  <%= form_for(@entry, html: {class: "entry__form"}) do |f| %>
    <% if @entry.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

        <ul>
        <% @entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :how_do_you_feel, class: "form__question" %>

      <%= f.label :how_do_you_feel, "Happy", :value => "1", class: "option--feeling" do %>
        <%= f.radio_button :how_do_you_feel, 1 %>
        <figure class="feeling--happy">
          <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-happy.png" alt="Feeling Happy" class="option--feeling__emoticon">
          <figcaption class="option--feeling__emotion">Happy</figcaption>
        </figure>
      <% end %>

      <%= f.label :how_do_you_feel, "Pleasant", :value => "2", class: "option--feeling" do %>
        <%= f.radio_button :how_do_you_feel, 2 %>
        <figure class="feeling--pleasant">
          <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-pleasant.png" alt="Feeling Pleasant" class="option--feeling__emoticon">
          <figcaption class="option--feeling__emotion">Pleasant</figcaption>
        </figure>
      <% end %>

      <%= f.label :how_do_you_feel, "Sad", :value => "3", class: "option--feeling" do %>
        <%= f.radio_button :how_do_you_feel, 3 %>
        <figure class="feeling--sad">
          <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-sad.png" alt="Feeling Sad" class="option--feeling__emoticon">
          <figcaption class="option--feeling__emotion">Sad</figcaption>
        </figure>
      <% end %>

      <%= f.label :how_do_you_feel, "Angry", :value => "4", class: "option--feeling" do %>
        <%= f.radio_button :how_do_you_feel, 4 %>
        <figure class="feeling--angry">
          <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-angry.png" alt="Feeling Angry" class="option--feeling__emoticon">
          <figcaption class="option--feeling__emotion">Angry</figcaption>
        </figure>
      <% end %>
    </div>

     <div class="field">
      <%= f.label :what_went_well, class: "form__question" %>
      <%= f.text_area :what_went_well, class: "form__field form__field--text-area" %>
    </div>

    <div class="field">
      <%= f.label :what_didnt_go_well, "What didn't go well",class: "form__question" %>
      <%= f.text_area :what_didnt_go_well, class: "form__field form__field--text-area" %>
    </div>

    <div class="field">
      <%= f.label :how_to_make_it_better, "How will you make it better", class: "form__question" %>
      <%= f.text_area :how_to_make_it_better, class: "form__field form__field--text-area" %>
    </div>

    <div class="field">
      <%= f.label :focus_on_tomorrow, "What will you focus on tomorrow", class: "form__question" %>
      <%= f.text_area :focus_on_tomorrow, class: "form__field form__field--text-area" %>
    </div>

    <div class="field">
      <%= f.label :how_do_you_feel_now, class: "form__question" %>

      <%= f.label :how_do_you_feel_now, "Happy", :value => "1", class: "option--feeling" do %>
        <%= f.radio_button :how_do_you_feel_now, 1 %>
        <figure class="feeling--happy">
          <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-happy.png" alt="Feeling Happy" class="option--feeling__emoticon">
          <figcaption class="option--feeling__emotion">Happy</figcaption>
        </figure>
      <% end %>

      <%= f.label :how_do_you_feel_now, "Pleasant", :value => "2", class: "option--feeling" do %>
        <%= f.radio_button :how_do_you_feel_now, 2 %>
        <figure class="feeling--pleasant">
          <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-pleasant.png" alt="Feeling Pleasant" class="option--feeling__emoticon">
          <figcaption class="option--feeling__emotion">Pleasant</figcaption>
        </figure>
      <% end %>

      <%= f.label :how_do_you_feel_now, "Sad", :value => "3", class: "option--feeling" do %>
        <%= f.radio_button :how_do_you_feel_now, 3 %>
        <figure class="feeling--sad">
          <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-sad.png" alt="Feeling Sad" class="option--feeling__emoticon">
          <figcaption class="option--feeling__emotion">Sad</figcaption>
        </figure>
      <% end %>

      <%= f.label :how_do_you_feel_now, "Angry", :value => "4", class: "option--feeling" do %>
        <%= f.radio_button :how_do_you_feel_now, 4 %>
        <figure class="feeling--angry">
          <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-angry.png" alt="Feeling Angry" class="option--feeling__emoticon">
          <figcaption class="option--feeling__emotion">Angry</figcaption>
        </figure>
      <% end %>
    </div>

    <div class="actions">
        <% if user_signed_in? %>
          <%= f.submit "Note it!", class: "button radius form__button" %>
        <% else %>
          <%= f.submit "Login and Note it!", class: "button radius form__button" %>
        <% end %>
    </div>
  <% end %>
</section>
