<section class="new-moment__form">
  <%= form_for(@moment, html: {class: "moment__form"}) do |f| %>
    <% if @moment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@moment.errors.count, "error") %> prohibited this moment from being saved:</h2>

        <ul>
        <% @moment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :how_do_you_feel, class: "form__question" %>

      <%= f.label :how_do_you_feel, "Happy", :value => "1", class: "option--feeling" do %>
        <%= f.radio_button :how_do_you_feel, 1 %>
        <figure class="feeling feeling--happy">
          <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-happy.png" alt="Feeling Happy" class="option--feeling__emoticon">
          <figcaption class="option--feeling__emotion">Happy</figcaption>
        </figure>
      <% end %>

      <%= f.label :how_do_you_feel, "Pleasant", :value => "2", class: "option--feeling" do %>
        <%= f.radio_button :how_do_you_feel, 2 %>
        <figure class="feeling feeling--pleasant">
          <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-pleasant.png" alt="Feeling Pleasant" class="option--feeling__emoticon">
          <figcaption class="option--feeling__emotion">Pleasant</figcaption>
        </figure>
      <% end %>

      <%= f.label :how_do_you_feel, "Sad", :value => "3", class: "option--feeling" do %>
        <%= f.radio_button :how_do_you_feel, 3 %>
        <figure class="feeling feeling--sad">
          <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-sad.png" alt="Feeling Sad" class="option--feeling__emoticon">
          <figcaption class="option--feeling__emotion">Sad</figcaption>
        </figure>
      <% end %>

      <%= f.label :how_do_you_feel, "Angry", :value => "4", class: "option--feeling" do %>
        <%= f.radio_button :how_do_you_feel, 4 %>
        <figure class="feeling feeling--angry">
          <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-angry.png" alt="Feeling Angry" class="option--feeling__emoticon">
          <figcaption class="option--feeling__emotion">Angry</figcaption>
        </figure>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :why, "Why", class: "form__question" %>
      <%= f.text_area :why, class: "form__field form__field--text-area" %>
    </div>

    <div class="field hide">
      <%= f.label :what_went_well, "Tell me about one good thing that's happened today", class: "form__question" %>
      <%= f.text_area :what_went_well, class: "form__field form__field--text-area" %>
    </div>





    <div class="actions hide">
        <% if user_signed_in? %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.submit "Note it!", class: "button radius form__button" %>
        <% else %>
          <%= f.submit "Login and Note it!", class: "button radius form__button" %>
        <% end %>
    </div>
  <% end %>
</section>
