<section class="screen--login">
  <div class="row">
    <div class="small-12 medium-9 large-8 large-centered columns">
      <header class="form--authentication__header clearfix">
        <h1 class="title title--screen left">Login</h1>
        <p class="right"><%= render "devise/shared/links" %></p>
      </header>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form--authentication"}) do |f| %>
        <div class="field">
          <%= f.label :email, class: "form__label"%>
          <%= f.email_field :email, class: "form__field", autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password, class: "form__label" %>
          <%= f.password_field :password, class: "form__field", autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.label :remember_me, class: "form__question form__question--remember" %>
            <div class="switch clearfix">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class: "button radius form__button" %>
        </div>
      <% end %>
    </div>
  </div>
</section>

