<section class="screen screen--index-moment">
  <div class="row">

    <% if @todays_moment %>
      <div class=" large-6 columns">
        <section class="index-moment index-moment--today">
          <header>
            <h1 class="title index-moment__title">Today</h1>
          </header>
          <p class="index-moment__excerpt"><%= truncate(cryptor.decrypt(@todays_moment.what_went_well), length: 35) %></p>
          <div class="index-moment__mood-shift">
            <figure class="feeling feeling--<%= mood(@todays_moment.how_do_you_feel) %>">
              <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-<%= mood(@todays_moment.how_do_you_feel) %>.png" alt="Feeling <%= mood(@todays_moment.how_do_you_feel) %>" class="mood__emoticon">
              <figcaption class="mood"><%= mood(@todays_moment.how_do_you_feel) %></figcaption>
            </figure>
            <span class="index-moment__mood-shift__arrow--right">&#10157;</span>
            <figure class="feeling feeling--<%= mood(@todays_moment.how_do_you_feel_now) %>">
              <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-<%= mood(@todays_moment.how_do_you_feel_now) %>.png" alt="Feeling <%= mood(@todays_moment.how_do_you_feel_now) %>" class="mood__emoticon">
              <figcaption class="mood"><%= mood(@todays_moment.how_do_you_feel_now) %></figcaption>
            </figure>
          </div>
          <%= link_to "View Notetato", @todays_moment, class: "button radius index-moment__button" %>
        </section>
      </div>
    <% else %>
      <%= render 'add_moment' %>
    <% end %>

  </div>
</section>
