 <div class="row">
    <div class="medium-7 large-7 columns">
      <section class="report__focus">
        <header>
          <h1 class="title title--section">Focus</h1>
          <p class="report__description">Work on what matters to you</p>
        </header>
        <ul class="cards">
        <% @entries.each do |entry|  %>
          <li class="card card--focus">
            <div class="row">
              <div class="large-2 columns">
                <span class="card__date"><%= entry.date.strftime("%m/%d") %></span>
              </div>
              <div class="large-10 columns">
                <p class="card__content"><%= entry.focus_on_tomorrow %></p>
              </div>
            </div>
          </li>
        <% end %>
        </ul>
      </section>
    </div>

    <div class="medium-5 large-5 columns">
      <section class="report__mood">
        <header>
          <h1 class="title title--section">Mood</h1>
          <p class="report__description"><%= mood_shift(@avg_start_feeling,@avg_end_feeling) %></p>
          <p class="report__description"><%= @avg_start_feeling %>, <%= @avg_end_feeling %></p>
        </header>

        <div class="mood-shift">
          <figure class="feeling feeling--<%= @mood_start %>">
            <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-<%= @mood_start %>.png" alt="Feeling <%= @mood_start %>" class="mood__emoticon">
          <figcaption class="mood"><%= @mood_start %></figcaption>
        </figure>
          <span class="arrow--right">&#10157;</span>
          <figure class="feeling feeling--<%= @mood_end %>">
            <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-<%= @mood_end %>.png" alt="Feeling <%= @mood_end %>" class="mood__emoticon">
          <figcaption class="mood"><%= @mood_end %></figcaption>
        </figure>
        </div>

      </section>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <section class="report__gratitude">
        <header>
          <h1 class="title title--section">Gratitude</h1>
          <p class="report__description">Recognize the good that happened this week</p>
        </header>
        <ul class="cards">
        <% @entries.each do |entry|  %>
          <li class="card card--gratitude">
            <div class="row">
              <div class="large-2 columns">
                <span class="card__date"><%= entry.date.strftime("%m/%d") %></span>
              </div>
              <div class="large-10 columns">
                <p class="card__content card__content--gratitude"><%= entry.what_went_well %></p>
              </div>
            </div>
          </li>
        <% end %>
        </ul>
      </section>
    </div>
  </div>

    <div class="row">
    <div class="large-12 columns">
      <section class="report__action">
        <header>
          <h1 class="title title--section">Action</h1>
          <p class="report__description">Everyday counts; make tomorrow even better</p>
        </header>
       <ul class="cards">
        <% @entries.each do |entry|  %>
          <li class="card card--action">
            <div class="row">
              <div class="large-2 columns">
                <span class="card__date"><%= entry.date.strftime("%m/%d") %></span>
              </div>
              <div class="large-10 columns">
                <p class="card__content card__content--solution"><%= entry.how_to_make_it_better %></p>
                <p class="card__content"><%= entry.what_didnt_go_well %></p>
              </div>
            </div>
          </li>
        <% end %>
        </ul>
      </section>
    </div>
  </div>
