 <header>
    <h1 class="title title--screen title--screen--report">The Daily <span class="report__title__days"><img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-happy.png" alt="Feeling happy" class="mood__emoticon"></span> Notetato</h1>
  </header>


  <div class="row">
    <div class="medium-7 large-7 columns">
      <section class="report__focus">
        <% if (!@yesterdays_entry.nil? && !@yesterdays_entry.focus_on_tomorrow.blank?) || (!@todays_entry.nil? && !@todays_entry.focus_on_tomorrow.blank?) %>
        <header>
          <h1 class="title title--section">Focus</h1>
          <p class="report__description">Work on what matters to you</p>
        </header>
          <ul class="cards">
            <% if !@yesterdays_entry.nil? && !@yesterdays_entry.focus_on_tomorrow.blank? %>
              <li class="card card--focus">
                <h2 class="card__date">Today</h2>
                <%= simple_format(@yesterdays_entry.focus_on_tomorrow, class:"card__content") %>
              </li>
            <% end %>
            <% if !@todays_entry.nil? && !@todays_entry.focus_on_tomorrow.blank? %>
              <li class="card card--focus">
                <h2 class="card__date">Tomorrow</h2>
                 <%= simple_format(@todays_entry.focus_on_tomorrow, class:"card__content") %>
              </li>
            <% end %>
          </ul>
      <% else %>
      <header>
          <h1 class="title title--section">Focus</h1>
        </header>
        <aside class="ad">
          <header>
            <h1 class="title ad__title">Tell me about your day!</h1>
          </header>
          <div class="center">
            <figure class="feeling feeling--sad">
              <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-happy.png" alt="Feeling happy %>" class="mood__emoticon">
            </figure>
          </div>
          <%= link_to "Add today's Notetato", new_entry_path, class: "button radius ad__button" %>
        </aside>
      <% end %>
    </section>
  </div>

  <% if !@avg_start_feeling.nil? %>
    <div class="medium-5 large-5 columns">
      <section class="report__mood">
        <header>
          <h1 class="title title--section">Mood</h1>
          <p class="report__description"><%= mood_shift(@avg_start_feeling,@avg_end_feeling) %></p>
        </header>

        <div class="mood-shift--report">
          <figure class="feeling feeling--<%= @mood_start %>">
            <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-<%= @mood_start %>.png" alt="Feeling <%= @mood_start %>" class="mood__emoticon">
          <figcaption class="mood"><%= @mood_start %></figcaption>
        </figure>
          <span class="arrow--right">&#10157;</span>
          <figure class="feeling feeling--<%= @mood_end %>">
            <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-<%= @mood_end %>.png" alt="Feeling <%= @mood_end %>" class="mood__emoticon">
          <figcaption class="mood"><%= @mood_end %></figcaption>
        </figure>
        </div>
      </section>
    </div>
  <% end %>

  <% if !@weeks_entries.empty? %>
    <div class="row">
      <div class="large-12 columns">
        <section class="report__gratitude">
          <header>
            <h1 class="title title--section">Gratitude</h1>
            <p class="report__description">Recognize the good that happened this week</p>
          </header>
          <ul class="cards">
          <% @weeks_entries.each do |entry|  %>
            <li class="card card--gratitude">
              <div class="row">
                <div class="large-2 columns">
                  <span class="card__date"><%= entry.date.strftime("%A") %></span>
                </div>
                <div class="large-10 columns">
                  <%= simple_format(entry.what_went_well, class: "card__content card__content--gratitude") %>
                </div>
              </div>
            </li>
          <% end %>
          </ul>
        </section>
      </div>
    </div>
  <% end %>
