<!DOCTYPE html>
<html>
<head>
  <title>Notetato</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
<section>
  <header>
    <h1>Notetato</h1>
    <p>Find the good in today.</p>
  </header>
  <nav>
    <ul>
      <li><%= render 'layouts/user_widget' %></li>
    </ul
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</section>
</body>
</html>
